/*------------------------------------------------------------------------*/
* {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	background: #2d88a5;
}

/*------------------------------------------------------------------------*/

@font-face {
	font-family: ds-digital;
	src: url("font/DS-Digital.ttf");
}

/*------------------------------------------------------------------------*/
.clear {
	clear: both;
}

/*------------------------------------------------------------------------*/

#menu {
	background: #006f8a;
	opacity: 0;
}

#menu:hover {
	opacity: 1;
}

#menu img {
	height: 100px;
	padding: 5px;
}

.item {
	background: #2d88a5;
	margin: 10px 0px 10px 10px;
	float: left;
}

.item:hover {
	background: #00aa8a;
}

/*------------------------------------------------------------------------*/

#clock {
	font-family: ds-digital;
	font-size: 10em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/*------------------------------------------------------------------------*/