body {
	background: #2d88a5;
	font-size: 20px;
}
@font-face {
	font-family: ds-digital;
	src: url("font/DS-Digital.ttf");
}
#clock {
	font-family: ds-digital;
	font-size: 10em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}